# **RPNet Tutorial**
The various dependencies required to run the **RPNet** can be easily installed using **pip**.<br>
It is recommended to run the program in a separate virtual environment using Anaconda with python version 3.9.<br>

**Note**: If you want to use a GPU, you must install **CUDA** libaray. The RPNet was developed using CUDA version 11.1.74.

**In terminal:**<br>
conda create -n rpnet python=3.9<br>
conda activate rpnet<br>
pip install rpnet<br>

RPNet supports multiprocessing-based preprocessing using the **parmap** module.<br>


Before using RPNet, download the pre-trained model from the link below and place it in the "../model" directory.<br>
[click here for pre-trained models](https://drive.google.com/drive/folders/1VlhPiLEx6XKBkmLdkc9RJ6fFTcSD0-0B?usp=sharing)

---
## 2. Example1 (polarity prediction)

Example 1 presents two earthquake events with magnitudes of 4.0 and 4.4, selected from the Kumamoto earthquake sequence as used in the original paper (Han et al., 2025).<br>
These events represent strike-slip and normal faulting mechanisms, respectively.<br><br>
Before running the RPNet, <span style="color:red"> you need to configure various variables and options in the `hyperparams.py` file.</span><br>
For detailed explanations of each variable, please refer to the comments within the file.

### 2.1 load modules

In [12]:
"""
# RPNet (v.0.1.0)
https://github.com/jongwon-han/RPNet

RPNet: Robust P-wave first-motion polarity determination using deep learning (Han et al., 2025; SRL)
doi: https://doi.org/10.1785/0220240384

Example script to run the sample Hi-net dataset

- Jongwon Han (@KIGAM)
- jwhan@kigam.re.kr
- Last update: 2025. 5. 15.
"""

#########################################################################################################

import h5py
import pandas as pd
import numpy as np
import tensorflow as tf
import parmap
from keras_self_attention import SeqSelfAttention
import matplotlib.pyplot as plt
import tqdm
import matplotlib.ticker as ticker
from mpl_toolkits.axes_grid1 import make_axes_locatable
import os
import subprocess
import shutil
from obspy import Stream, Trace
from obspy import UTCDateTime
from sklearn.model_selection import train_test_split
import plotly.figure_factory as ff
import matplotlib
import fnmatch
import time
from rpnet import *
from hyperparams import *
import glob

#########################################################################################################

---
### 2.2 Preparation for the prediction

In [13]:
# set gpu number
os.environ['CUDA_VISIBLE_DEVICES'] = gpu_num

stime=time.time()

# make output directory / if exist remove it
if os.path.exists(out_dir):
    shutil.rmtree(out_dir)
os.makedirs(out_dir)

# load raw data (catalog, phase, station files)
cat_df=pd.read_csv(event_catalog)
pha_df=pd.read_csv(phase_metadata)
sta_df=pd.read_csv(sta_metadata).sort_values(['sta']).reset_index(drop=True)
sta_df['sta0']=sta_df['sta']
pha_df['source']='original'

#### Earthquake catalog

In [14]:
cat_df

,event_id,data_id,jst,lat,lon,dep,mag,tmag,mag2,tmag2,strike,dip,slip,dist
0,J2016042016013028,D20160420001172,2016-04-20T16:01:30.280000Z,32.837667,130.799333,15.23,4.0,D,4.1,W,267,35,-91,9.34
1,J2016041507465204,D20160415000600,2016-04-15T07:46:52.040000Z,32.730000,130.797000,10.52,4.4,D,4.4,V,20,69,172,8.54

#### Phase information

In [15]:
pha_df

,event_id,data_id,sta,ptime,stime,pol,source
0,J2016041507465204,D20160415000600,N.TYNH,2016-04-15T07:46:54.740000Z,2016-04-15T07:46:56.650000Z,U,original
1,J2016041507465204,D20160415000600,KU.KMP,2016-04-15T07:46:55.820000Z,2016-04-15T07:46:58.470000Z,U,original
2,J2016041507465204,D20160415000600,KUIZU3,2016-04-15T07:46:56.080000Z,2016-04-15T07:46:59.080000Z,U,original
3,J2016041507465204,D20160415000600,N.YABH,2016-04-15T07:46:56.410000Z,2016-04-15T07:46:59.620000Z,U,original
4,J2016041507465204,D20160415000600,N.MSMH,2016-04-15T07:46:56.590000Z,2016-04-15T07:47:00.350000Z,D,original
...,...,...,...,...,...,...,...
116,J2016042016013028,D20160420001172,N.MYJH,2016-04-20T16:01:47.410000Z,2016-04-20T16:01:59.920000Z,U,original
117,J2016042016013028,D20160420001172,G.SIBI,2016-04-20T16:01:48.060000Z,2016-04-20T16:02:01.300000Z,U,original
118,J2016042016013028,D20160420001172,TAKAZA,2016-04-20T16:01:48.690000Z,2016-04-20T16:02:01.250000Z,U,original
119,J2016042016013028,D20160420001172,IKI,2016-04-20T16:01:53.980000Z,NaN,K,original
120,J2016042016013028,D20160420001172,SUZUYA,2016-04-20T16:01:54.670000Z,NaN,K,original

#### Station locations

In [16]:
sta_df

     net     sta chan      lat       lon    elv    sta0
0    NaN   AGUNI    U  26.5927  127.2403   12.0   AGUNI
1    NaN    AIDA    U  34.9435  134.1653  170.0    AIDA
2    NaN    AIOI    U  33.7957  134.4488  165.0    AIOI
3    NaN  AKAIKE    U  33.7153  130.7928  130.0  AKAIKE
4    NaN  AKKESH    U  42.9987  144.6925   20.0  AKKESH
..   ...     ...  ...      ...       ...    ...     ...
257  NaN  YONAGK    U  24.4511  122.9452   15.0  YONAGK
258  NaN  YONAGU    U  24.4672  123.0113   32.0  YONAGU
259  NaN  YORONJ    U  27.0246  128.4504   26.0  YORONJ
260  NaN  YTOYOT    U  34.2658  131.0622  120.0  YTOYOT
261  NaN    YUWA    U  39.5432  140.2050   30.0    YUWA

[262 rows x 7 columns]

---
Use "add_sta" option when you want to utilize data from stations without picking information by estimating the P arrival time using TauP.

In [17]:
# add empty pick stations

if add_sta:
    z_files=sorted(glob.glob(wf_dir+'/*/*'))
    def get_add(z):
        id=z.split('/')[-2]
        sta=z.split('/')[-1].split('.U.')[0]
        if len(pha_df[(pha_df[fwfid]==id)&(pha_df['sta']==sta)])!=0:
            return pd.DataFrame()
        if not id in cat_df[fwfid].to_list():
            return pd.DataFrame()
        return pd.DataFrame({'pick':[id],'sta':[sta],fptime:[np.nan],fstime:[np.nan]})
    print('# get list of additional stations')
    results=parmap.map(get_add,z_files, pm_pbar=True, pm_processes=cores,pm_chunksize=1)
    pha_df0=pd.concat(results)
    pha_df0['source']='add'
    pha_df=pd.concat([pha_df,pha_df0]).reset_index(drop=True)

# get list of additional stations

100%|██████████| 100/100 [00:00<00:00, 4912.34it/s]

In [18]:
# Add station metadata to phase df
print('\n# Arrange metadata')
sta_df=sta_df[sta_df['sta'].isin(pha_df['sta'].to_list())].reset_index(drop=True)# Add station metadata to phase df
pha_df=pha_df[pha_df['sta'].isin(sta_df['sta'].to_list())].reset_index(drop=True)
pha_df['lat']=[sta_df[sta_df.sta==i]['lat'].iloc[0] for i in pha_df['sta'].to_list()]
pha_df['lon']=[sta_df[sta_df.sta==i]['lon'].iloc[0] for i in pha_df['sta'].to_list()]
pha_df['elv']=[sta_df[sta_df.sta==i]['elv'].iloc[0] for i in pha_df['sta'].to_list()]
# pha_df['net']=[sta_df[sta_df.sta==i]['net'].iloc[0] for i in pha_df['sta'].to_list()]
# pha_df['chan']=[sta_df[sta_df.sta==i]['chan'].iloc[0] for i in pha_df['sta'].to_list()]
sta_df['net']='HI' # Renaming, just for consistency

# make UTCDateTime objects
cat_df[ftime]=[UTCDateTime(i) for i in cat_df[ftime].to_list()]
print('- Done')

# Arrange metadata
- Done

---
Use the 'change2taup' option when you want to estimate the P arrival time using TauP.

In [19]:
# Change to TauP P arrival times (OPTION; considering pick uncertainty)
print(keep_initial_phase)
if change2taup:
    print('\n\n# change to TauP arrival')
    pha_df['ptime0']=pha_df[fptime]
    results=parmap.map(est_taup,[[idx,val,cat_df[cat_df[fwfid]==val[fwfid]].iloc[0],ftime,'P',taup_model,keep_initial_phase] for idx,val in pha_df.iterrows()]
                    , pm_pbar=True, pm_processes=cores,pm_chunksize=1)
    pha_df[fptime]=results
    print('- TauP (P) Done')

    print('# change to TauP S arrival')
    pha_df['stime0']=pha_df[fstime]
    results=parmap.map(est_taup,[[idx,val,cat_df[cat_df[fwfid]==val[fwfid]].iloc[0],ftime,'S',taup_model,keep_initial_phase] for idx,val in pha_df.iterrows()]
                    , pm_pbar=True, pm_processes=cores,pm_chunksize=1)
    pha_df[fstime]=results
    print('- TauP (S) Done')

pha_df=pha_df.sort_values([fwfid,'sta']).reset_index(drop=True)
pha_df

False


# change to TauP arrival

100%|██████████| 100/100 [00:00<00:00, 175.78it/s]

- TauP (P) Done
# change to TauP S arrival

100%|██████████| 100/100 [00:00<00:00, 173.33it/s]

- TauP (S) Done

,event_id,data_id,sta,ptime,stime,pol,source,lat,lon,elv,ptime0,stime0
0,J2016041507465204,D20160415000600,AKAIKE,2016-04-15T07:47:11.000967Z,2016-04-15T07:47:24.770273Z,K,original,33.7153,130.7928,130.0,2016-04-15T07:47:10.540000Z,NaN
1,J2016041507465204,D20160415000600,BEPPUA,2016-04-15T07:47:07.343610Z,2016-04-15T07:47:18.456997Z,K,original,33.3363,131.4072,434.0,2016-04-15T07:47:07.140000Z,NaN
2,J2016041507465204,D20160415000600,HICHIY,2016-04-15T07:47:06.778217Z,2016-04-15T07:47:17.481087Z,K,original,32.4431,131.6368,53.0,2016-04-15T07:47:06.640000Z,NaN
3,J2016041507465204,D20160415000600,HIKIMI,2016-04-15T07:47:26.284081Z,2016-04-15T07:47:52.559933Z,K,original,34.5345,131.9267,350.0,2016-04-15T07:47:26.940000Z,NaN
4,J2016041507465204,D20160415000600,HIROMI,2016-04-15T07:47:20.393597Z,2016-04-15T07:47:41.965419Z,K,original,33.2170,132.6220,450.0,2016-04-15T07:47:20.740000Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,J2016042016013028,D20160420001172,TAKAZA,2016-04-20T16:01:48.653920Z,2016-04-20T16:02:02.060362Z,U,original,31.9047,131.0857,170.0,2016-04-20T16:01:48.690000Z,2016-04-20T16:02:01.250000Z
96,J2016042016013028,D20160420001172,TAMANA,2016-04-20T16:01:35.911039Z,2016-04-20T16:01:40.000247Z,U,original,32.9670,130.5305,230.0,2016-04-20T16:01:35.880000Z,2016-04-20T16:01:39.910000Z
97,J2016042016013028,D20160420001172,TSUNO,2016-04-20T16:01:46.461043Z,2016-04-20T16:01:58.256864Z,K,original,32.2490,131.5022,130.0,2016-04-20T16:01:45.970000Z,NaN
98,J2016042016013028,D20160420001172,URESHI,2016-04-20T16:01:45.081953Z,2016-04-20T16:01:55.830333Z,K,original,33.0965,129.9467,160.0,2016-04-20T16:01:44.670000Z,NaN
99,J2016042016013028,D20160420001172,USUKI,2016-04-20T16:01:46.357257Z,2016-04-20T16:01:58.058387Z,K,original,33.0690,131.7482,140.0,2016-04-20T16:01:45.880000Z,NaN

---
The input data (numpy matrix) is generated in 4-second segments from continuous waveform data (SAC or MSEED).

In [20]:
# Make input data matrix
print('\n\n# Make input matrix from waveform data')
results=parmap.map(wf2matrix,[[idx,val,fwfid,fptime,wf_dir,out_dir] for idx, val in pha_df.iterrows()], pm_pbar=True, pm_processes=cores,pm_chunksize=1)
results=[i for i in results if i is not None]
a,b=zip(*results)
pha_df=pha_df.iloc[list(a)].reset_index(drop=True)
in_mat=np.vstack(b)
print('% calculation time (min): ','%.2f'%((time.time()-stime)/60))
print('- Done')

# Make input matrix from waveform data

100%|██████████| 100/100 [00:00<00:00, 1014.87it/s]

% calculation time (min):  0.03
- Done

---
### 2.3 Polarity prediction (main)

In [21]:
# RPNet main prediction
print('\n\n# Predict polarity (RPNet)')
r_df=pred_rpnet(model,in_mat,pha_df,batch_size=batch_size,iteration=iteration,gpu_num=gpu_num,time_shift=0.0,mid_point=250)
print('% calculation time (min): ','%.2f'%((time.time()-stime)/60))
r_df.to_csv(out_dir+'/pol_result.csv',index=False)
print('- Done')

# Predict polarity (RPNet)
# iterate prediction

100%|██████████| 100/100 [00:07<00:00, 13.00it/s]

% calculation time (min):  0.16
- Done

---
### 2.4 From RPNet's polarity result to SKHASH input format

In [22]:
# Renaming station code (only for Hi-net)
sta_df['net']='HI'
sta_df['chan']=sta_df['chan'].replace('U','HHZ')
sta_df['sta']=['S'+str(i+1).rjust(3,'0') for i in range(len(sta_df))]
cat_df=cat_df
pha_df=pha_df[pha_df['data_id'].isin(cat_df['data_id'].to_list())].reset_index(drop=True)
r_df=pd.read_csv(out_dir+'/pol_result.csv')
r_df=r_df[r_df['data_id'].isin(cat_df['data_id'].to_list())].reset_index(drop=True)


# Make SKHASH input setting
if iteration!=0:
    r_df.loc[r_df['std'] > std_threshold, 'predict'] = 'K'
if rm_unknwon:
    r_df=r_df[r_df['predict']!='K'].reset_index(drop=True)
# make threshold for mean
if iteration!=0 and mean_threshold!=0:
    r_df=r_df[r_df['prob']>=mean_thresuld].reset_index(drop=True)
print('\n\n# Final result:')
print(r_df.to_string())

r_df=r_df.drop_duplicates(['sta',fwfid]).reset_index(drop=True)
prep_skhash(cat_df=cat_df,pol_df=r_df,amp=[],sta_df=sta_df,ftime=ftime,fwfid=fwfid,ctrl0=ctrl0,out_dir=out_dir,hash_version=hash_version)
print('% calculation time (min): ','%.2f'%((time.time()-stime)/60))
print('\n\n@ ALL DONE!')

# Final result:
             event_id          data_id     sta                        ptime                        stime pol    source      lat       lon    elv                       ptime0                       stime0 predict    prob     std
0   J2016041507465204  D20160415000600  AKAIKE  2016-04-15T07:47:11.000967Z  2016-04-15T07:47:24.770273Z   K  original  33.7153  130.7928  130.0  2016-04-15T07:47:10.540000Z                          NaN       U  0.9911  0.0224
1   J2016041507465204  D20160415000600  BEPPUA  2016-04-15T07:47:07.343610Z  2016-04-15T07:47:18.456997Z   K  original  33.3363  131.4072  434.0  2016-04-15T07:47:07.140000Z                          NaN       D  0.8159  0.1290
2   J2016041507465204  D20160415000600  HICHIY  2016-04-15T07:47:06.778217Z  2016-04-15T07:47:17.481087Z   K  original  32.4431  131.6368   53.0  2016-04-15T07:47:06.640000Z                          NaN       D  1.0000  0.0000
3   J2016041507465204  D20160415000600  HIKIMI  2016-04-15T07:47:26.284081Z  2016-04-15T07:47:52.559933Z   K  original  34.5345  131.9267  350.0  2016-04-15T07:47:26.940000Z                          NaN       U  0.9915  0.0226
4   J2016041507465204  D20160415000600  HIROMI  2016-04-15T07:47:20.393597Z  2016-04-15T07:47:41.965419Z   K  original  33.2170  132.6220  450.0  2016-04-15T07:47:20.740000Z                          NaN       U  1.0000  0.0000
5   J2016041507465204  D20160415000600   HONDO  2016-04-15T07:47:03.986764Z  2016-04-15T07:47:12.662303Z   K  original  32.4683  130.1345   70.0  2016-04-15T07:47:03.930000Z                          NaN       D  1.0000  0.0000
6   J2016041507465204  D20160415000600     IKI  2016-04-15T07:47:17.447198Z  2016-04-15T07:47:36.665963Z   K  original  33.7988  129.7297   70.0  2016-04-15T07:47:17.330000Z                          NaN       U  1.0000  0.0000
7   J2016041507465204  D20160415000600   ITAYA  2016-04-15T07:47:07.101968Z  2016-04-15T07:47:18.039899Z   K  original  33.4305  130.3860  660.0  2016-04-15T07:47:06.930000Z                          NaN       U  1.0000  0.0000
8   J2016041507465204  D20160415000600  KITAKA  2016-04-15T07:47:02.920481Z  2016-04-15T07:47:10.821650Z   K  original  32.6278  131.4512  180.0  2016-04-15T07:47:02.930000Z                          NaN       D  1.0000  0.0000
9   J2016041507465204  D20160415000600  KU.KMP  2016-04-15T07:46:55.798972Z  2016-04-15T07:46:58.528701Z   U  original  32.8198  130.6227  150.0  2016-04-15T07:46:55.820000Z  2016-04-15T07:46:58.470000Z       U  1.0000  0.0000
10  J2016041507465204  D20160415000600  KU.OMT  2016-04-15T07:47:00.729106Z  2016-04-15T07:47:07.038941Z   U  original  33.0672  130.4537   10.0  2016-04-15T07:47:00.600000Z  2016-04-15T07:47:06.430000Z       U  1.0000  0.0000
11  J2016041507465204  D20160415000600  KUBOKA  2016-04-15T07:47:25.605203Z  2016-04-15T07:47:51.338936Z   K  original  33.3128  133.0608  340.0  2016-04-15T07:47:26.330000Z                          NaN       D  0.9382  0.1025
12  J2016041507465204  D20160415000600  KUDAMA  2016-04-15T07:47:20.329297Z  2016-04-15T07:47:41.849769Z   K  original  34.0573  131.8713  220.0  2016-04-15T07:47:20.540000Z                          NaN       D  0.9973  0.0039
13  J2016041507465204  D20160415000600  KUNIMI  2016-04-15T07:47:13.297642Z  2016-04-15T07:47:28.805916Z   K  original  33.6357  131.5665  120.0  2016-04-15T07:47:12.740000Z                          NaN       D  1.0000  0.0000
14  J2016041507465204  D20160415000600  KURAHA  2016-04-15T07:47:26.076084Z  2016-04-15T07:47:52.185840Z   K  original  34.1428  132.5268   60.0  2016-04-15T07:47:26.740000Z                          NaN       U  0.8665  0.0538
15  J2016041507465204  D20160415000600  KURAYO  2016-04-15T07:47:48.429422Z  2016-04-15T07:48:32.384803Z   K  original  35.3815  133.8172  174.0  2016-04-15T07:47:50.030000Z                          NaN       D  0.9392  0.0698
16  J2016041507465204  D20160415000600  MONOBE  2016-04-15T07:47:36.303320Z  2016-04-15T07:48:10.579246Z   K  original  33.7315  133.8763  550.0  2016-04-15T07:47:37.540000Z                          NaN       D  0.9962  0.0133
17  J2016041507465204  D20160415000600  N.ASVH  2016-04-15T07:46:57.883472Z  2016-04-15T07:47:02.126937Z   D  original  32.9514  131.0199  347.0  2016-04-15T07:46:57.940000Z  2016-04-15T07:47:02.420000Z       D  1.0000  0.0000
18  J2016041507465204  D20160415000600  N.BZNH  2016-04-15T07:47:09.521283Z  2016-04-15T07:47:22.216055Z   U  original  33.5925  131.1348 -269.0  2016-04-15T07:47:09.060000Z  2016-04-15T07:47:20.800000Z       U  1.0000  0.0000
19  J2016041507465204  D20160415000600  N.GKSH  2016-04-15T07:46:59.333649Z  2016-04-15T07:47:04.630093Z   D  original  32.6536  131.2257  501.0  2016-04-15T07:46:59.270000Z  2016-04-15T07:47:04.680000Z       D  1.0000  0.0000
20  J2016041507465204  D20160415000600  N.HKSH  2016-04-15T07:46:57.489505Z  2016-04-15T07:47:01.446859Z   D  original  32.8114  131.1010  380.0  2016-04-15T07:46:57.470000Z  2016-04-15T07:47:01.360000Z       D  1.0000  0.0000
21  J2016041507465204  D20160415000600  N.HSFH  2016-04-15T07:47:05.859434Z  2016-04-15T07:47:15.895229Z   U  original  33.3652  130.4049 -146.0  2016-04-15T07:47:05.570000Z  2016-04-15T07:47:15.250000Z       U  1.0000  0.0000
22  J2016041507465204  D20160415000600  N.IZMH  2016-04-15T07:46:57.276648Z  2016-04-15T07:47:01.079456Z   U  original  32.4901  130.9046  419.0  2016-04-15T07:46:57.490000Z  2016-04-15T07:47:01.170000Z       U  1.0000  0.0000
23  J2016041507465204  D20160415000600  N.KHKH  2016-04-15T07:46:59.699329Z  2016-04-15T07:47:05.261429Z   U  original  33.1089  130.6949  -26.0  2016-04-15T07:46:59.830000Z  2016-04-15T07:47:05.040000Z       U  1.0000  0.0000
24  J2016041507465204  D20160415000600  N.KKCH  2016-04-15T07:46:57.514155Z  2016-04-15T07:47:01.489414Z   U  original  32.9982  130.8300  -21.0  2016-04-15T07:46:57.660000Z  2016-04-15T07:47:01.490000Z       U  1.0000  0.0000
25  J2016041507465204  D20160415000600  N.MSMH  2016-04-15T07:46:56.758082Z  2016-04-15T07:47:00.184314Z   D  original  32.6234  130.5584 -279.0  2016-04-15T07:46:56.590000Z  2016-04-15T07:47:00.350000Z       D  1.0000  0.0000
26  J2016041507465204  D20160415000600  N.MYJH  2016-04-15T07:47:07.586569Z  2016-04-15T07:47:18.876375Z   D  original  31.9812  130.4438    9.0  2016-04-15T07:47:07.420000Z  2016-04-15T07:47:18.390000Z       D  1.0000  0.0000
27  J2016041507465204  D20160415000600  N.NGSH  2016-04-15T07:47:07.221023Z  2016-04-15T07:47:18.245398Z   D  original  32.6999  129.8625  -46.0  2016-04-15T07:47:06.670000Z  2016-04-15T07:47:17.990000Z       D  0.9998  0.0012
28  J2016041507465204  D20160415000600  N.NMNH  2016-04-15T07:47:00.311360Z  2016-04-15T07:47:06.317881Z   D  original  32.9553  131.2207  592.0  2016-04-15T07:47:00.160000Z                          NaN       D  1.0000  0.0000
29  J2016041507465204  D20160415000600  N.NRAH  2016-04-15T07:47:04.212227Z  2016-04-15T07:47:13.051515Z   U  original  32.1987  131.1946  134.0  2016-04-15T07:47:04.510000Z  2016-04-15T07:47:13.420000Z       U  1.0000  0.0000
30  J2016041507465204  D20160415000600  N.NTHH  2016-04-15T07:47:06.608006Z  2016-04-15T07:47:17.187299Z   D  original  33.1525  131.5420   62.0  2016-04-15T07:47:06.180000Z                          NaN       D  1.0000  0.0000
31  J2016041507465204  D20160415000600  N.OGNH  2016-04-15T07:47:00.869179Z  2016-04-15T07:47:07.280876Z   D  original  33.1220  131.0629  306.0  2016-04-15T07:47:01.130000Z  2016-04-15T07:47:07.210000Z       D  1.0000  0.0000
32  J2016041507465204  D20160415000600  N.SBAH  2016-04-15T07:46:59.228083Z  2016-04-15T07:47:04.447832Z   U  original  32.4754  131.1043  317.0  2016-04-15T07:46:59.320000Z  2016-04-15T07:47:04.160000Z       U  1.0000  0.0000
33  J2016041507465204  D20160415000600  N.SBSH  2016-04-15T07:47:09.716036Z  2016-04-15T07:47:22.552230Z   K  original  33.1256  129.8102 -191.0  2016-04-15T07:47:09.300000Z  2016-04-15T07:47:21.540000Z       U  1.0000  0.0000
34  J2016041507465204  D20160415000600  N.SNIH  2016-04-15T07:47:03.891509Z  2016-04-15T07:47:12.497867Z   D  original  33.1306  131.3473  273.0  2016-04-15T07:47:03.850000Z                          NaN       D  1.0000  0.0000
35  J2016041507465204  D20160415000600  N.TKKH  2016-04-15T07:47:03.300859Z  2016-04-15T07:47:11.478263Z   D  original  32.9103  130.1408 -172.0  2016-04-15T07:47:02.970000Z  2016-04-15T07:47:11.460000Z       D  1.0000  0.0000
36  J2016041507465204  D20160415000600  N.TMNH  2016-04-15T07:46:58.522898Z  2016-04-15T07:47:03.230683Z   U  original  32.9873  130.5608  -47.0  2016-04-15T07:46:58.710000Z  2016-04-15T07:47:03.290000Z       U  1.0000  0.0000
37  J2016041507465204  D20160415000600  N.TYNH  2016-04-15T07:46:54.717221Z  2016-04-15T07:46:56.661393Z   U  original  32.6344  130.7521  -41.0  2016-04-15T07:46:54.740000Z  2016-04-15T07:46:56.650000Z       U  1.0000  0.0000
38  J2016041507465204  D20160415000600  N.UKHH  2016-04-15T07:47:02.907302Z  2016-04-15T07:47:10.798899Z   U  original  33.2891  130.8170  -12.0  2016-04-15T07:47:02.960000Z  2016-04-15T07:47:10.470000Z       U  1.0000  0.0000
39  J2016041507465204  D20160415000600  N.UMIH  2016-04-15T07:47:08.540444Z  2016-04-15T07:47:20.522922Z   U  original  33.5608  130.5499   85.0  2016-04-15T07:47:08.010000Z  2016-04-15T07:47:19.210000Z       U  0.9999  0.0004
40  J2016041507465204  D20160415000600  N.UMWH  2016-04-15T07:47:04.254226Z  2016-04-15T07:47:13.124016Z   D  original  32.8392  131.5357  161.0  2016-04-15T07:47:04.030000Z  2016-04-15T07:47:12.880000Z       D  1.0000  0.0000
41  J2016041507465204  D20160415000600  N.YABH  2016-04-15T07:46:56.416652Z  2016-04-15T07:46:59.594935Z   U  original  32.6501  131.0251  346.0  2016-04-15T07:46:56.410000Z  2016-04-15T07:46:59.620000Z       D  0.9137  0.0931
42  J2016041507465204  D20160415000600  NAGAHA  2016-04-15T07:47:20.755436Z  2016-04-15T07:47:42.616225Z   K  original  33.5605  132.4762  230.0  2016-04-15T07:47:21.140000Z                          NaN       U  1.0000  0.0000
43  J2016041507465204  D20160415000600  NAKATS  2016-04-15T07:46:59.925727Z  2016-04-15T07:47:05.652239Z   U  original  33.1250  130.8767  540.0  2016-04-15T07:47:00.030000Z  2016-04-15T07:47:05.540000Z       U  1.0000  0.0000
44  J2016041507465204  D20160415000600    NARU  2016-04-15T07:47:15.693936Z  2016-04-15T07:47:33.345391Z   K  original  31.5300  131.2693   80.0  2016-04-15T07:47:15.240000Z                          NaN       U  1.0000  0.0000
45  J2016041507465204  D20160415000600  OKUCHI  2016-04-15T07:47:03.874269Z  2016-04-15T07:47:12.468107Z   K  original  32.1435  130.5962  440.0  2016-04-15T07:47:03.840000Z                          NaN       U  1.0000  0.0000
46  J2016041507465204  D20160415000600  SKAMAE  2016-04-15T07:47:09.964548Z  2016-04-15T07:47:22.981140Z   K  original  32.7981  131.9011    6.0  2016-04-15T07:47:09.640000Z                          NaN       D  1.0000  0.0000
47  J2016041507465204  D20160415000600  SUZUYA  2016-04-15T07:47:15.558436Z  2016-04-15T07:47:33.054192Z   K  original  31.5093  130.4527  400.0  2016-04-15T07:47:15.140000Z                          NaN       D  0.9987  0.0035
48  J2016041507465204  D20160415000600  TAKAZA  2016-04-15T07:47:08.624867Z  2016-04-15T07:47:20.668651Z   U  original  31.9047  131.0857  170.0  2016-04-15T07:47:08.960000Z  2016-04-15T07:47:20.920000Z       U  1.0000  0.0000
49  J2016041507465204  D20160415000600  TAMANA  2016-04-15T07:46:58.543385Z  2016-04-15T07:47:03.266044Z   U  original  32.9670  130.5305  230.0  2016-04-15T07:46:58.650000Z  2016-04-15T07:47:03.180000Z       U  1.0000  0.0000
50  J2016041507465204  D20160415000600  TOSASH  2016-04-15T07:47:21.522896Z  2016-04-15T07:47:43.996583Z   K  original  32.8632  132.7997  180.0  2016-04-15T07:47:21.930000Z                          NaN       U  0.9993  0.0025
51  J2016041507465204  D20160415000600  TOYOHI  2016-04-15T07:47:30.745999Z  2016-04-15T07:48:00.584772Z   K  original  34.6657  132.4185  470.0  2016-04-15T07:47:31.630000Z                          NaN       U  0.9978  0.0099
52  J2016041507465204  D20160415000600   TSUNO  2016-04-15T07:47:06.805275Z  2016-04-15T07:47:17.527789Z   K  original  32.2490  131.5022  130.0  2016-04-15T07:47:06.640000Z                          NaN       U  1.0000  0.0000
53  J2016041507465204  D20160415000600  TSUSHM  2016-04-15T07:47:27.766110Z  2016-04-15T07:47:55.225419Z   K  original  34.5275  129.3963   70.0  2016-04-15T07:47:28.540000Z                          NaN       U  0.5811  0.1561
54  J2016041507465204  D20160415000600  URESHI  2016-04-15T07:47:07.517241Z  2016-04-15T07:47:18.756705Z   K  original  33.0965  129.9467  160.0  2016-04-15T07:47:07.340000Z                          NaN       U  1.0000  0.0000
55  J2016041507465204  D20160415000600  YTOYOT  2016-04-15T07:47:19.637773Z  2016-04-15T07:47:40.605985Z   K  original  34.2658  131.0622  120.0  2016-04-15T07:47:19.740000Z                          NaN       U  0.9945  0.0137
56  J2016042016013028  D20160420001172  BEPPUA  2016-04-20T16:01:44.178414Z  2016-04-20T16:01:54.271325Z   K  original  33.3363  131.4072  434.0  2016-04-20T16:01:43.880000Z                          NaN       U  0.9997  0.0008
57  J2016042016013028  D20160420001172   HONDO  2016-04-20T16:01:43.387526Z  2016-04-20T16:01:52.906284Z   K  original  32.4683  130.1345   70.0  2016-04-20T16:01:43.080000Z                          NaN       U  1.0000  0.0000
58  J2016042016013028  D20160420001172     IKI  2016-04-20T16:01:54.024112Z  2016-04-20T16:02:12.001298Z   K  original  33.7988  129.7297   70.0  2016-04-20T16:01:53.980000Z                          NaN       U  1.0000  0.0000
59  J2016042016013028  D20160420001172   ITAYA  2016-04-20T16:01:43.684716Z  2016-04-20T16:01:53.419091Z   K  original  33.4305  130.3860  660.0  2016-04-20T16:01:43.380000Z                          NaN       U  1.0000  0.0000
60  J2016042016013028  D20160420001172  KITAKA  2016-04-20T16:01:41.825586Z  2016-04-20T16:01:50.209737Z   K  original  32.6278  131.4512  180.0  2016-04-20T16:01:41.580000Z                          NaN       U  0.9896  0.0147
61  J2016042016013028  D20160420001172  KU.KMP  2016-04-20T16:01:34.164557Z  2016-04-20T16:01:36.985485Z   D  original  32.8198  130.6227  150.0  2016-04-20T16:01:34.240000Z  2016-04-20T16:01:36.970000Z       D  1.0000  0.0000
62  J2016042016013028  D20160420001172  KU.OMT  2016-04-20T16:01:37.833536Z  2016-04-20T16:01:43.318842Z   U  original  33.0672  130.4537   10.0  2016-04-20T16:01:37.560000Z  2016-04-20T16:01:42.760000Z       U  1.0000  0.0000
63  J2016042016013028  D20160420001172  N.ASVH  2016-04-20T16:01:35.200875Z  2016-04-20T16:01:38.774417Z   U  original  32.9514  131.0199  347.0  2016-04-20T16:01:35.150000Z  2016-04-20T16:01:38.710000Z       U  1.0000  0.0000
64  J2016042016013028  D20160420001172  N.BZNH  2016-04-20T16:01:45.922828Z  2016-04-20T16:01:57.282265Z   U  original  33.5925  131.1348 -269.0  2016-04-20T16:01:45.360000Z  2016-04-20T16:01:56.020000Z       U  0.9920  0.0108
65  J2016042016013028  D20160420001172  N.GKSH  2016-04-20T16:01:38.433008Z  2016-04-20T16:01:44.353667Z   U  original  32.6536  131.2257  501.0  2016-04-20T16:01:38.240000Z  2016-04-20T16:01:43.990000Z       U  1.0000  0.0000
66  J2016042016013028  D20160420001172  N.HKSH  2016-04-20T16:01:35.821781Z  2016-04-20T16:01:39.846169Z   D  original  32.8114  131.1010  380.0  2016-04-20T16:01:35.730000Z  2016-04-20T16:01:39.650000Z       D  1.0000  0.0000
67  J2016042016013028  D20160420001172  N.HSFH  2016-04-20T16:01:42.485275Z  2016-04-20T16:01:51.348492Z   U  original  33.3652  130.4049 -146.0  2016-04-20T16:01:42.070000Z  2016-04-20T16:01:50.070000Z       U  1.0000  0.0000
68  J2016042016013028  D20160420001172  N.KHKH  2016-04-20T16:01:36.336772Z  2016-04-20T16:01:40.735138Z   U  original  33.1089  130.6949  -26.0  2016-04-20T16:01:36.300000Z  2016-04-20T16:01:40.350000Z       U  0.9993  0.0012
69  J2016042016013028  D20160420001172  N.KKCH  2016-04-20T16:01:34.352778Z  2016-04-20T16:01:37.310543Z   U  original  32.9982  130.8300  -21.0  2016-04-20T16:01:34.180000Z  2016-04-20T16:01:37.050000Z       U  1.0000  0.0000
70  J2016042016013028  D20160420001172  N.MSIH  2016-04-20T16:01:33.040448Z  2016-04-20T16:01:35.045060Z   D  original  32.7967  130.8199 -199.0  2016-04-20T16:01:33.000000Z  2016-04-20T16:01:34.950000Z       D  1.0000  0.0000
71  J2016042016013028  D20160420001172  N.MSMH  2016-04-20T16:01:36.508269Z  2016-04-20T16:01:41.031161Z   U  original  32.6234  130.5584 -279.0  2016-04-20T16:01:36.410000Z  2016-04-20T16:01:40.970000Z       U  1.0000  0.0000
72  J2016042016013028  D20160420001172  N.MYJH  2016-04-20T16:01:47.694368Z  2016-04-20T16:02:00.397137Z   U  original  31.9812  130.4438    9.0  2016-04-20T16:01:47.410000Z  2016-04-20T16:01:59.920000Z       U  1.0000  0.0000
73  J2016042016013028  D20160420001172  N.NGSH  2016-04-20T16:01:45.816764Z  2016-04-20T16:01:57.099178Z   U  original  32.6999  129.8625  -46.0  2016-04-20T16:01:45.490000Z  2016-04-20T16:01:56.360000Z       D  1.0000  0.0000
74  J2016042016013028  D20160420001172  N.NMNH  2016-04-20T16:01:37.887026Z  2016-04-20T16:01:43.411184Z   U  original  32.9553  131.2207  592.0  2016-04-20T16:01:37.820000Z  2016-04-20T16:01:43.170000Z       U  1.0000  0.0000
75  J2016042016013028  D20160420001172  N.NRAH  2016-04-20T16:01:44.327321Z  2016-04-20T16:01:54.528364Z   U  original  32.1987  131.1946  134.0  2016-04-20T16:01:44.340000Z  2016-04-20T16:01:53.730000Z       U  1.0000  0.0000
76  J2016042016013028  D20160420001172  N.NTHH  2016-04-20T16:01:43.899830Z  2016-04-20T16:01:53.790434Z   U  original  33.1525  131.5420   62.0  2016-04-20T16:01:43.390000Z  2016-04-20T16:01:52.940000Z       U  1.0000  0.0000
77  J2016042016013028  D20160420001172  N.OGNH  2016-04-20T16:01:37.659891Z  2016-04-20T16:01:43.019079Z   U  original  33.1220  131.0629  306.0  2016-04-20T16:01:37.720000Z  2016-04-20T16:01:42.960000Z       U  1.0000  0.0000
78  J2016042016013028  D20160420001172  N.SBAH  2016-04-20T16:01:39.178755Z  2016-04-20T16:01:45.640951Z   U  original  32.4754  131.1043  317.0  2016-04-20T16:01:39.050000Z  2016-04-20T16:01:45.110000Z       U  1.0000  0.0000
79  J2016042016013028  D20160420001172  N.SBSH  2016-04-20T16:01:47.195161Z  2016-04-20T16:01:59.531845Z   U  original  33.1256  129.8102 -191.0  2016-04-20T16:01:46.760000Z  2016-04-20T16:01:58.640000Z       U  0.9966  0.0119
80  J2016042016013028  D20160420001172  N.SNIH  2016-04-20T16:01:41.042373Z  2016-04-20T16:01:48.857748Z   U  original  33.1306  131.3473  273.0  2016-04-20T16:01:41.030000Z  2016-04-20T16:01:48.820000Z       U  1.0000  0.0000
81  J2016042016013028  D20160420001172  N.TARH  2016-04-20T16:01:41.082643Z  2016-04-20T16:01:48.927274Z   U  original  33.3674  130.6355 -423.0  2016-04-20T16:01:40.810000Z  2016-04-20T16:01:48.190000Z       U  1.0000  0.0000
82  J2016042016013028  D20160420001172  N.TKKH  2016-04-20T16:01:41.279684Z  2016-04-20T16:01:49.267459Z   U  original  32.9103  130.1408 -172.0  2016-04-20T16:01:41.080000Z  2016-04-20T16:01:48.590000Z       U  1.0000  0.0000
83  J2016042016013028  D20160420001172  N.TMNH  2016-04-20T16:01:35.739687Z  2016-04-20T16:01:39.704460Z   U  original  32.9873  130.5608  -47.0  2016-04-20T16:01:35.740000Z  2016-04-20T16:01:39.570000Z       U  1.0000  0.0000
84  J2016042016013028  D20160420001172  N.TYNH  2016-04-20T16:01:35.036451Z  2016-04-20T16:01:38.490539Z   U  original  32.6344  130.7521  -41.0  2016-04-20T16:01:35.080000Z  2016-04-20T16:01:38.400000Z       U  1.0000  0.0000
85  J2016042016013028  D20160420001172  N.UKHH  2016-04-20T16:01:39.318771Z  2016-04-20T16:01:45.882678Z   U  original  33.2891  130.8170  -12.0  2016-04-20T16:01:39.250000Z  2016-04-20T16:01:45.630000Z       U  1.0000  0.0000
86  J2016042016013028  D20160420001172  N.UMIH  2016-04-20T16:01:44.929659Z  2016-04-20T16:01:55.567624Z   U  original  33.5608  130.5499   85.0  2016-04-20T16:01:44.310000Z  2016-04-20T16:01:53.920000Z       U  0.9382  0.1136

---
## 3. Focal Mechanism Calculation (SKHASH)

RPNet does not provide the source code for **SKHASH** directly.<br>
Please refer to the link below to download and install SKHASH.<br>

[click here for SKHASH](https://code.usgs.gov/esc/SKHASH)

However, the RPNet's conda environment is configured to support SKHASH, so you can run the SKHASH.py script within the same RPNet environment without the need for an additional virtual environment setup.

Before running the RPNet, properly configure the **control_file0.txt** for SKHASH under **"ctrl0"** in hyperparams.py. The default file will be copied to the RPNet result directory, where the necessary settings for running SKHASH will be automatically generated.

**Run in terminal:**<br>
python SKHASH.py ./output01/hash2/control_file.txt<br>

Please check "./output01/hash2/OUT" directory after running SKHASH for the focal mechanism result.

The MSEED files in the output directory contain the trimmed 4-second waveform segments that were actually used by RPNet for polarity prediction.